.home-brands {
  padding: 1rem 0;
  background-color: $secondary;
  * {
    margin: 0;
  }
  img {
    width: 100%;
    height: auto;
    border-radius: 3rem;
  }
  &__grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    column-gap: 2rem;
    inline-size: 90%;
    margin: 0 auto 3rem auto;
  }
  .desktop {
    display: none;
    @include media("tablet") {
      display: flex;
    }
  }
  .mobile {
    display: flex;
    @include media("tablet") {
      display: none;
    }
  }
}
