.home-color {
  max-width: 1600px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 0 auto;
  row-gap: 2rem;
  column-gap: 2rem;
  margin-top: 2rem;

  @include media("tablet") {
    grid-template-columns: repeat(4, 1fr);
  }

  &__grid {
    a {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 70px;
      text-decoration: none;
      text-align: center;
      border-radius: 10px;
      font-size: 3rem;
      color: #fdf8e9 !important;
    }
  }
}
