.model-pages {
  max-width: 1600px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  margin: 4rem auto 0 auto;
  padding: 0 1.5rem;
  row-gap: 2rem;
  column-gap: 2rem;

  @include media("tablet") {
    grid-template-columns: repeat(3, 1fr);
    padding: 0 5rem;
  }

  &__card {
    &--img {
      width: auto;
      max-height: 350px;
      overflow: hidden;
      border-radius: 10px;
      margin-bottom: 1rem;
    }
    &--page {
      background-color: #000 !important;
      color: #FFF3CB !important;
      padding: 2px 7px;
      border-radius: 15px;
      background-color: #000 !important;
      color: #FFF3CB !important;
      padding: 2px 7px;
      font-size: 14px;
    }
    h2 {
      margin-top: 5px;
    }
  }

}