.home-init {
  max-width: 1600px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  margin: 0 auto;
  padding: 0 5rem;
  row-gap: 2rem;
  column-gap: 2rem;

  @include media("tablet") {
    grid-template-columns: repeat(2, 1fr);
  }

  &__grid {
    a {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 150px;
      text-decoration: none;
      border: solid 1px #fff;
      text-align: center;
      border-radius: 10px;
      font-size: 3rem;
    }
  }
}
