* {
  background: transparent !important;
  color: #000 !important;



}

h1,
h2,
h3,
h4 {
  font-family: "Ubuntu" !important;
  font-weight: 400 !important;
}

p,
a,
label {
  font-family: "Ubuntu", sans-serif !important;
  color: #000 !important;
}
body,
span {
  color: #000 !important;
  border: #000 !important;

  padding: 0 2rem;

  @include media("tablet") {
    padding: 0;
  }
}

h1,
h2,
h3,
input {
  color: #000 !important;
  border: #000 !important;
}

footer {
  * {
    color: #FFFCEB !important;
  }
}

.field__label {
  color: #FFFCEB !important;
}

a {
  text-decoration: none !important;
}

img {
  width: 100%;
  height: auto;
}

.header {
  max-width: 1600px !important;
  padding-top: 3px !important;
  margin: 10px auto !important;
  padding-bottom: 3px !important;
  border-radius: 10px;
}

.header {
  display: grid;
  grid-template-areas: 'left-icon heading icons';
  grid-template-columns: 1fr 1fr !important;
  align-items: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.social-logos {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 20px;
  background-color: transparent !important;

  svg {
    width: 24px;
    height: 24px;
  }

}

.header__icon {
  height: auto !important;
  width: 100% !important;
}

img {
  border-radius: 10px;
}

.logo-header {
  padding: 12px 0;
}

.container {
  max-width: 1600px !important;
  margin: 2rem auto !important;
}
