* {
  background: #fff3cb !important;
  color: #000 !important;
}

h1,
h2,
h3,
h4 {
  font-family: "Bungee", cursive !important;
}

p,
a,
label {
  font-family: "Ubuntu", sans-serif !important;
  color: #000 !important;
}
body,
span {
  color: #000 !important;
  border: #000 !important;
}

h1,
h2,
h3,
input {
  color: #000 !important;
  border: #000 !important;
}

footer {
  * {
    color: #fff3cb !important;
  }
}

.field__label {
  color: #fff3cb !important;
}

a {
  text-decoration: none !important;
}

img {
  width: 100%;
  height: auto;
}
