* {
  background: #fff !important;
  color: #000 !important;

}
  p, a, h1, h2, h3, label {
    color: #000   !important;
  }
body, span {
  font-family: 'DM Sans', sans-serif !important;
  color: #000 !important;
  border: #000 !important;
}

h1, h2, h3, input {
  font-family: 'DM Sans', sans-serif !important;
  color: #000 !important;
  border: #000 !important;
}
footer { 
  * {
     color: #fff !important;
  }
 
}

.field__label {
  color: #fff !important;
}

