/*!************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/scss/app.scss ***!
  \************************************************************************************************************/
/*  Font family  */
* {
  background: #FFF3CB !important;
  color: #000 !important;
}

p, a, h1, h2, h3, label {
  color: #000 !important;
}

body, span {
  font-family: "DM Sans", sans-serif !important;
  color: #000 !important;
  border: #000 !important;
}

h1, h2, h3, input {
  font-family: "DM Sans", sans-serif !important;
  color: #000 !important;
  border: #000 !important;
}

footer * {
  color: #FFF3CB !important;
}

.field__label {
  color: #FFF3CB !important;
}

html {
  overflow-x: hidden;
}

body {
  background-color: #FFF3CB !important;
  overflow-x: hidden;
}

.model-pages {
  max-width: 1600px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  margin: 0 auto;
  padding: 0 1.5rem;
  row-gap: 2rem;
  column-gap: 2rem;
}
@media (min-width: 720px) {
  .model-pages {
    grid-template-columns: repeat(3, 1fr);
    padding: 0 5rem;
  }
}
.model-pages__card--img {
  width: auto;
  height: 250px;
  overflow: hidden;
  border-radius: 10px;
  margin-bottom: 1rem;
}
.model-pages__card--page {
  background-color: #000 !important;
  color: #FFF3CB !important;
  padding: 2px 7px;
  border-radius: 15px;
  background-color: #000 !important;
  color: #FFF3CB !important;
  padding: 2px 7px;
  font-size: 14px;
}
.model-pages__card h2 {
  margin-top: 5px;
}

.home-color {
  max-width: 1600px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  margin: 0 auto;
  padding: 0 5rem;
  row-gap: 2rem;
  column-gap: 2rem;
  margin-top: 2rem;
}
@media (min-width: 720px) {
  .home-color {
    grid-template-columns: repeat(2, 1fr);
  }
}
.home-color__grid a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 150px;
  text-decoration: none;
  text-align: center;
  border-radius: 10px;
  font-size: 3rem;
}

footer {
  background-color: #FFFFF9;
  color: #000;
}
footer * {
  color: #000;
}
footer input {
  color: #000;
}
footer h1, footer h2, footer h3, footer h4, footer p, footer a, footer label {
  color: #000 !important;
}
footer .newsletter-form__field-wrapper .field__input {
  border-color: black;
}
footer .newsletter-form__field-wrapper .field__input label {
  color: black !important;
}
