html {
    overflow-x: hidden;
}

body {
    background-color: $secondary !important;
    overflow-x: hidden;
}

.desktop {
  display: none;
  @include media("tablet") {
    display: initial;
  }
}
.mobile {
  display: initial;
  @include media("tablet") {
    display: none;
  }
}

h2 {
  font-size: 35px;
    font-weight: 400;
}
